beautifulsoup4==4.13.3
dependency-injector==4.45.0
fastapi==0.115.8
google-cloud-bigquery[pandas]==3.29.0
google-cloud-logging==3.11.4
google-cloud-storage==3.0.0
numpy==1.26.0
pandas==2.2.3
pydantic==2.10.6
tenacity==9.0.0
tqdm==4.67.1
uvicorn[standard]==0.34.0
websocket-client==1.8.0